* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
}

#vanilla-terminal {
	width: 100vw;
	height: 100vh;
	background-color: #222222;
	color: white;
	font-family: "Inconsolata", "Courier New", Courier, monospace;
	font-weight: bold;
	overflow: hidden;
	padding: 0.75em 1em;
}

